extends layout

block breadcrump
  span #{topic.title}

block content

  span.hidden(id='#{topic._id}')

  div.topic.baseDiv(id='#{topic._id}')
    div.topicAuthor 
      | Created #{asDate(topic.date)} at #{asTime(topic.date)}
      br
      | by #{topic.name}
    b #{topic.title}  
    br 
    | #{topic.description}

  div.baseDiv
    b Users
    ul#users

  div#conversation
    each msg, i in messages
      div.msg.baseDiv
        div.profile [#{asTime(msg.date)}] #{msg.username} 
        | #{msg.content}

  div.highlightRow
    span#username.profile anynomous
    input#msg
    input#msgsend(type='button', value='Send')