span.hidden(id='#{topic._id}')

div(id='#{topic._id}').topicWrapper
  div.topicHeader.topic.baseDiv
    div.topicAuthor 
      | Created #{asDate(topic.date)} at #{asTime(topic.date)}
      br
      | by #{topic.name}
    b #{topic.title}  
    br 
    | #{topic.description}
  div.topicComments
  div.highlightRow
    form(name='addnewmsg')
      div.profile
        | [
        span#clock 00:00
        | ] 
        span#username anynomous
      input(name='topicId', type='hidden', value='#{topic._id}')
      input(name='author', type='hidden', value='Joku')
      input(type='text', name='comment', placeholder="New message")
      input(type='button', value='Send')