span.hidden(id='#{topic._id}')

div(id='#{topic._id}').topicWrapper
  div.topicHeader.topic.baseDiv
    div.topicAuthor 
      | Created #{asDate(topic.date)} at #{asTime(topic.date)}
      br
      | by #{topic.name}
    b #{topic.title}  
    br 
    | #{topic.description}
  
  div.topicComments
    | viestejä