extends layout

block breadcrump
  span Topics

block content

  div#topics
    each topic, i in topics
      div.topic.baseDiv(id='#{topic._id}')
        div.topicAuthor 
          | Created #{asDate(topic.date)} at #{asTime(topic.date)}
          br
          | by #{topic.name}
        b #{topic.title}  
        br 
        | #{topic.description}

  br
  div#createNewTopic.baseDiv
    | New topic:
    br
    input#topic(placeholder="New topic title")
    br
    | Description:
    br
    textarea#description(placeholder="Description what this topic is about")
    br
    | Author:
    br
    input#name(placeholder="Author")
    br
    button#submitNewTopic Save